# Pliki .env NIE MOGĄ trafić do obrazu!
.env
.env.*

# Ignoruj pliki Gita
.git
.gitignore

# Ignoruj folder build Mavena (jest tworzony wewnątrz kontenera)
target/

# Ignoruj pliki wrapper Mavena
.mvn/
mvnw
mvnw.cmd